@font-face {
    font-family: "DejaVu Sans Mono"; /* Гарнитура шрифта */
    src: url(dejavu-sans-mono.ttf); /* Путь к файлу со шрифтом */
}

.panel {
    border: solid 1px black;
    padding: 5px 5px 5px 5px;
}

.panel.absolute {
    position: absolute;
    width: calc(50% - 21px);
    margin: 10px;
    height: calc(100% - 74px);
    max-height: calc(100% - 74px);
}

.panel.right {
    right: -1px;
}

.panel.left {
    left: -1px;
}

#request_text {
    position: relative;
    width: calc(100% - 6px);
    max-width: calc(100% - 6px);
    height: calc(100% - 30px);
    max-height: calc(100% - 30px);
    /*height: 200px;*/
    font-family: "DejaVu Sans Mono";
    word-break: break-all;
}

#container_request_text {
    height: calc(100% - 47px);
    max-height: calc(100% - 47px);
}

.option_request_text {
    margin-bottom: 5px;
}

#connect {
    color: white;
    background-color: #1d6e1d;
}

#disconnect {
    color: white;
    background-color: darkred;
}

#send {
    width: 80px;
}

.send {
    background-color: #f1f1f1;
    margin-bottom: 5px;
}

.in {
    background-color: #f6f8ff;
    margin-bottom: 5px;
}

.msg:nth-child(2n) {
    border-top: solid 1px black;
}

#message_field {
    margin-top: 5px;
    border: solid 1px black;
    padding: 5px 5px 5px 5px;
    overflow-wrap: break-word;
    word-break: break-all;
}

#_message_field {
    overflow-y: scroll;
    height: calc(100% - 21px);
    max-height: calc(100% - 21px);
}

#max_height {
    width: 80px;
}

.field button {
    margin-right: 5px;
}

#auto_msg {
    width: 30%;
}

.del {
    background-color: #ebeead;
    color: #000000;
    border-radius: 6px;
}

.format_msg_btn {
    background-color: rgba(61, 249, 0, 0.35);
    color: #000000;
    border-radius: 6px;
}

#pattern {
    width: 30%;
}

.text_msg {
    border: none;
    font-family: "DejaVu Sans Mono";
    font-size: 14px;
}
